:root {
  --dark-purple: #391975;
  --light-purple: #dcc6ff;
  --light-gray: #e2e2e2;
}

*{
	box-sizing: border-box;
}

html, body{
	width: 100vw;
	height: 100vh;
	justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100vw;
  outline: 1px solid var(--light-gray);
}

#main-navigation {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0;
  padding-top: 15px;
  font-size: 100%;
}